link(rel="stylesheet", href="https://cdn.bootcss.com/materialize/0.98.2/css/materialize.min.css")
link(rel="stylesheet", href="https://unpkg.com/flatpickr/dist/flatpickr.min.css")
link(rel="stylesheet", href="/static/css/material_blue.css")
link(rel="stylesheet", href="/static/css/style.css")
script(src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js")
script(src="/static/js/slide.jquery.js")
script(src="https://cdn.bootcss.com/materialize/0.98.2/js/materialize.min.js")
script(src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js")
script(src="/static/js/browser-cuid.js")
script(src="https://unpkg.com/flatpickr")
script(src="https://npmcdn.com/flatpickr/dist/l10n/zh.js")
script(src="/static/js/index.js")