/* Reset */
ul, li {
    list-style: none;
}

.page {
    width: 100%;
    display: flex;
    text-transform: uppercase;
}
.page .aside {
    width: 30%;
    order: 1;
}

.page h2 {
    position: relative;
    padding-left: 80px;
    height: 60px;
    background: url("/static/images/pic-02.png") no-repeat;
    background-position: 20px center;
    background-size: contain;
    line-height: 60px;
}

.page h2:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: url("/static/images/pic-03.png") no-repeat;
    background-size: 200px 29px;
}

.page .aside .avatar-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #c8c9ca;
    text-transform: uppercase;
}
.page .aside .avatar-wrap a {
    display: block;
    width: 60%;
    padding-top: 60%;
    border-radius: 50%;
    border: 2px solid #000;
    background: #4f90cd;
}

.page .aside .avatar-wrap .name {
    display: block;
    max-width: 316px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px 5px;
    background: url("/static/images/pic-01.png") no-repeat;
    background-size: contain;
    background-position: center bottom;
    font-weight: bold;
    font-size: 25px;
}
.page .aside .baseInfo {
    margin-top: 30px;
    margin-bottom: 30px;
}
.page .aside .baseInfo li {
    border: 2px solid #c8c9ca;
    margin-bottom: 10px;
    padding: 10px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page .aside .language li,
.page .aside .skill li,
.page .main .education li,
.page .main .work li {
    margin-bottom: 5px;
    line-height: 25px;
}
.page .aside .language li:before,
.page .aside .skill li:before,
.page .main .education li:before,
.page .main .work li:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("/static/images/pic-03.png") no-repeat;
    background-size: 272px 40px;
    background-position: -237px -11px;
    vertical-align: top;
    margin-right: 5px;
}
.page .aside .language h2:before {
    background-position: 0 0;
}
.page .aside .skill h2:before {
    background-position: -31px 0;
}
.page .star {
    font-size: 0;
    display: inline-block;
    margin-left: 10px;
}
.page .star i {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    margin-right: 4px;
}
.page .star i.open {
    background-image: url("/static/images/open.png");
}
.page .star i.close {
    background-image: url("/static/images/close.png");
}

.page .main {
    width: 70%;
    box-sizing: border-box;
    padding-left: 30px;
    order: 2;
}

.page .main .aboutMe h2:before {
    background-position: -61px 0;
}
.page .main .aboutMe p {
    margin-left: 65px;
    padding-right: 30px;
    word-break: break-all;
}

.page .main .education h2:before {
    background-position: -100px -2px;
}

.page .main .work h2:before {
    background-position: -136px 0;
}

.page .main .education .name,
.page .main .work .name {
    font-weight: bold;
}
.page .main .education .time,
.page .main .work .time {
    float: right;
    margin-right: 30px;
    font-size: 13px;
    color: #6a6a6a;
}
.page .main .education p,
.page .main .work p {
    margin-left: 25px;
    padding-right: 30px;
    /*width: 80%;*/
    word-break: break-all;
}